h3{
  font-size: 20px;
}

img.resize {
  width:70px;
  height:70px;
  margin-bottom: 45px;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

.col-3-md{
  margin-left: 20px;
}

.botText{
  color: #888;
  font-weight: bold;
  padding: 0 1px;
}

.sideText{
  margin-top: 25px;
}

.upArrow{
  margin-bottom: -10px;
}

.downArrow{
  margin-top: -10px;
}

#votes{
  text-align: center;
}

h4{
  margin-left: 122px;
  margin-top: -46px;
}
