<ul>
  <li><a routerLink="">MY SUBBREDDITS</a></li>
  <li><a routerLink="about">POPULAR - </a></li>
  <li><a routerLink="">ALL - </a></li>
  <li><a routerLink="askreddit">ASKREDDIT - </a></li>
  <li><a routerLink="worldnews">WORLDNEWS - </a></li>
  <li><a routerLink="about">VIDEOS - </a></li>
  <li><a routerLink="marketplace">FUNNY</a></li>
</ul>

<div class="title-color">
  <img id="header-img" src="//b.thumbs.redditmedia.com/kOumkazStSPb_d6pF1urh_OX-1789hJ4DOa7y5PKM7E.png" width="120" height="45" alt="reddit.com"><br><br>
  <!-- <div class="title-color"></div> -->
  <!-- <h1>{{title}}</h1> -->
  <router-outlet></router-outlet>
</div>
