<ul>
  <li><a routerLink="">MY SUBBREDDITS</a></li>
  <li><a routerLink="about">POPULAR - </a></li>
  <li><a routerLink="marketplace">ALL - </a></li>
  <li><a routerLink="about">ASKREDDIT - </a></li>
  <li><a routerLink="marketplace">WORLDNEWS - </a></li>
  <li><a routerLink="about">VIDEOS - </a></li>
  <li><a routerLink="marketplace">FUNNY</a></li>
</ul>

<div class="container title-color">
  <!-- <div class="title-color"></div> -->
  <h1>{{title}}</h1>
  <!-- <router-outlet></router-outlet> -->
</div>
